#header{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.header-row{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}

.logo{
    text-align: left;
}

.shop{
    font-style: italic;
    font-weight: 700;
    color: #0F1E7B;
    text-decoration: none;
    font-size: 32px;
}

.buscar{
    text-align: center;
    width: 515px;
    height: 40px;
    border: 1px solid;
    border-color: black;
    padding: 5px;
    border-radius: 50px;
}

.buscar_texto{
    width: 470px;
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 20px;
    float: left;
    margin-left: 10px;
}

.boton{
    text-decoration: none;
    color: black;
}

.login{
    padding: 0 0 0 80px;
    height: fit-content;
    text-align: end;
    margin-top: 10px;
}

.login_texto{
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
}

.carrito{
    width: fit-content;
    height: fit-content;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}


.menu{
    list-style: none;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
}

.menu > li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 7px 13px;
}

.checkbtn{
    font-size: 30px;
    float: left;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}



@media (max-width: 858px){
.phone{
    width: 100%;
    height: auto;
    padding: 1rem;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}
.logo{
    text-align: center;
}
.shop{
    font-style: italic;
    font-weight: 700;
    color: #0F1E7B;
    text-decoration: none;
    font-size: 32px;
}
.login{
    height: fit-content;
    text-align: center;
    margin-top: 5px;
}
.login_texto{
    color: black;
    display: none;
}
.carrito{
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
}
.checkbtn{
    display: block;
}
.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    top: 80px;
    left: -100%;
    text-align: left;
    transition: all .5s;
    z-index: 2;
}
nav ul li{
    display: block;
    margin: 50px 20px;
    line-height: 30px;
    border-bottom: 1px  solid black;
}
nav ul li a{
    font-size: 20px;
}
li a:hover,
li a.action{
    background: none;
    color: black;
}
#check:checked ~ ul{
    left: 0;
}
}