#contenVendidas{
    padding: 0;
    margin: 70px 0;
    box-sizing: border-box;
    height: 450px;
}

h4{
    padding: 30px;
    margin: 0px 40px;
    color: black;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
}

.vendidas{
    display: flex;
    gap: 10px;
}

.card{
    flex: 25%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.card .contentCard{
    flex-grow: 1;
    flex-shrink: 1;
}

.contentCard{
    border-radius: 15px;
    height: auto;
    padding: 0 25px;
}

.contentCard h6{
    font-size: 15px;
}
.contentCard > .precio{
    font-size: 20px;
    padding: 0 50px;
}

.card .footercards{
    padding: 15px 70px;
}

.footercards > button{
    background: white;
    cursor: pointer;
    border: 1px solid red;
    color: red;
font-size: 20px;
    height: 50px;
    width: auto;
    position: relative;
    border-radius: 20px;
}